@* @model ProductModel

<h1 class="h3">Create Product</h1>
<hr>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="ProductCreate" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Url" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Url">
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label  asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea id="editor" class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label  asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ImageUrl" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="ImageUrl">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Save Product</button>
            </div>
        </div>
    </form>
    </div>
</div>

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
} *@


@model ProductModel
<div class="container">
    <h1 class="h-5 mb-4 mt-3">Ürün Ekle</h1>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <form asp-controller="Admin" asp-action="ProductCreate" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="productName">Ürün Adı</label>
                    <input type="text" class="form-control" id="productName" placeholder="Ürün Adı Giriniz" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="productUrl">Ürün Url</label>
                    <input type="text" class="form-control" id="productUrl" placeholder="Ürün Url Giriniz" asp-for="Url">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
@*                 <div class="form-group">
                    <label for="productDescription">Ürün Açıklaması</label>
                    <textarea class="form-control" id="productDescription" rows="4" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="Description" class="form-label">Açıklama</label>
                    <textarea id="editor" class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="productPrice">Ürün Fiyatı</label>
                    <input type="number" class="form-control" id="productPrice" placeholder="Ürün Fiyatını Giriniz" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="productImage">Resim Yükle</label>
                    <input type="file" class="form-control" id="productImage" name="Image">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Kaydet</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
}
